<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498775236147-rl4aksqjhug97om24ecfvleag1atjod9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498775236147-rl4aksqjhug97om24ecfvleag1atjod9</string>
	<key>API_KEY</key>
	<string>AIzaSyA2p_70gITSq6CTj5ndO7AwK6cPE4QJg8U</string>
	<key>GCM_SENDER_ID</key>
	<string>498775236147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cuponeraFl</string>
	<key>PROJECT_ID</key>
	<string>qponera-39e61</string>
	<key>STORAGE_BUCKET</key>
	<string>qponera-39e61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498775236147:ios:fbca72f2c2699e6553cd46</string>
</dict>
</plist>